
# services:
#   backend:
#     build:
#       context: .
#       dockerfile: docker/backend/Dockerfile
#     container_name: pls-backend
#     ports:
#       - "5000:5000"
#     environment:
#       - PYTHONUNBUFFERED=1
#     restart: unless-stopped
#     networks:
#       - app-network

#   frontend:
#     build:
#       context: .
#       dockerfile: docker/frontend/Dockerfile
#     container_name: pls-frontend
#     ports:
#       - "8080:80"
#     depends_on:
#       - backend
#     restart: unless-stopped
#     networks:
#       - app-network

# networks:
#   app-network:
#     driver: bridge

services:
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: pls-backend
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 5000 --reload  # FastAPI với hot reload

  frontend:
    build:
      context: . 
      dockerfile: docker/frontend/Dockerfile  # từ context tới Dockerfile
    container_name: pls-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./frontend:/app
      - /app/node_modules


networks:
  app-network:
    driver: bridge

